<launch>

    <include file="$(find azure_kinect_ros_driver)/launch/driver.origin.launch">
       <arg name="point_cloud" value="false"/>
       <arg name="rgb_point_cloud" value="false"/>
    </include>
    

    <!-- Spawn a nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
      <param name="num_worker_threads" value="16" />
    </node>

    
  
    <node pkg="nodelet" type="nodelet" name="points_xyz" args="load rtabmap_ros/point_cloud_xyz manager ">
        <remap from="depth/image"       to="/depth_to_rgb/image_raw"/>
        <remap from="depth/camera_info" to="/depth_to_rgb/camera_info"/>
        <remap from="cloud"             to="voxel_cloud" />

        <param name="decimation"  type="double" value="4"/>
        <param name="voxel_size"  type="double" value="0.02"/>
        <param name="max_depth"   type="double" value="1.5"/>
        <param name="normal_k"    type="int"    value="0"/>
        <param name="approx_sync" type="bool"   value="false"/>
    </node>
  

</launch>


